/* reset css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    background: linear-gradient(125deg, #00FF57 0%, #010033 40%, #460043 70%, #F0FFC5 100%), linear-gradient(55deg, #0014C9 0%, #410060 100%), linear-gradient(300deg, #FFC700 0%, #001AFF 100%), radial-gradient(135% 215% at 115% 40%, #393939 0%, #393939 40%, #849561 calc(40% + 1px), #849561 60%, #EED690 calc(60% + 1px), #EED690 80%, #ECEFD8 calc(80% + 1px), #ECEFD8 100%), linear-gradient(125deg, #282D4F 0%, #282D4F 40%, #23103A calc(40% + 1px), #23103A 70%, #A0204C calc(70% + 1px), #A0204C 88%, #FF6C00 calc(88% + 1px), #FF6C00 100%);
    background-blend-mode: overlay, screen, overlay, overlay, normal;
    
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}

img{
    display: inline-block;
    height: auto;
    width: auto;
    object-fit: cover;
    vertical-align: middle;
}


/*---js---*/

.magie{
   background-color: #fff;
   color: red;
}

.body{
    background: #F2F2F2;
    transition: all 1s ease-in-out;
}

.form{
    border: .1rem #0D0D0D solid;
}

.hache2{
    color: #0D0D0D;
}

.image_moon{
   content: url('../asset/moon.png');
}
.image_sunny{
    content: url('../asset/sunny.png');
}




