.loader{
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.disparaitre{
    animation:  gif 1s forwards;
}

@keyframes gif{
    100%{
        opacity: 0;
        visibility: hidden;
    }
    
}


