
main{
    width: 60vw;
    margin: 0 auto;
    color: #0D0D0D;
}

main section{
    padding: 5rem 0;
    
}
main section h2{

    color: #F2F2F2;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom: 5rem;

}
main section ul{
    display: grid;  
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
main section ul li{
    background-color: #F2F2F2;

}
main section ul li img{
    height: 100%;
    width: 100%;
}
main form{
    padding: 2rem;
    box-shadow: #F2F2F2 .195rem .195rem .26rem;
    background-color: #F2F2F2;
   
}
main form input, main form select{
    width: 100%;
    padding: 1rem 0;
    margin-top: .5rem;
    margin-bottom: 2rem;   
    padding-left: .5rem 
}

main form input:invalid{
    border: 2px solid red;
  }
  
 main form input:valid {
    border: 1px solid black;
  }
main form input:last-child{
    display: block;
    background-color: #91AAF2;
    border: 0;
    margin: 1rem auto;
    font-size: 2rem;
    width: 30%;


}
main form label{
    color: #0D0D0D;
}

main form fieldset{
 
    border: 0;
    padding: 0;
    margin: 0;
}
main p {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
    background: rgb(39, 39, 219);
    color: #fff;

}

main form a{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    margin-bottom: 1rem;
    background: rgb(39, 39, 219);
    color: #fff;
}
main section a h2{ 
    background-color: red;
    padding: 2rem;
    border-radius: 1rem;
     
}


.pseudo{
    color: red;
}






@media screen and (max-width: 50rem) {

    main{
        width: 90vw;
    }
    main section ul{ 
        grid-template-columns: repeat(2,1fr);
    }

}








 